<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
   
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top navbar-inverse mb-4" style="z-index:1;">
         <div >
            <a class="navbar-brand" href="#">Home</a>
            <a class="navbar-brand" href="#">Press</a>
            <a class="navbar-brand" href="#!AddRestaurant">Become a Restaurant Partner</a>
            <a class="navbar-brand" href="#!AddDriver">Become a Driver</a>
            <a class="navbar-brand" href="#">FAQ's</a>
            <a class="navbar-brand" href="#">Careers</a>
        </div>      
</nav>
        <!-- THE PICTURE WITH TEXT AT TOP-->
        <div class="intro-header intro-header-blue intro-header-restaurant">
            <div class="container">
                <div>
                    <h1 class="page-Heading">
                        BECOME A
                        RESTAURANT PARTNER
                    </h1>
                </div>

            </div>

        </div>

        <div>
            <h3>Access to thousands of customers</h3>
            <br />
            <p>
                Let us bring you new customers, make you more money and handle all the hassles of providing a delivery service!
            </p>
        </div>
        <!--REGISTRATIION FORM-->
        <div class="container  registerForm col-12 col-sm-12 col-xs-12">

            <form class="text-center" style="align-self:center" name="RegisterCustomerForm" ng-submit="AddRestaurant();">

                {{message}}
                <div class="container ">
                    <div class="form-group ">
                        <label for="fname">Full name</label>
                        <input type="text" placeholder="E.g John Smith" ng-model="restaurant.FName" class="form-control red-border" id="fName" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" placeholder="Eg. 02 555 5555" ng-model="restaurant.Phone" class="form-control  red-border" id="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" placeholder="Eg. johnsmith@gmail.com" ng-model="restaurant.Email" class="form-control red-border " id="email" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="loc">Location</label>
                        <select type="text" ng-model="restaurant.Location" class=" form-control red-border " id="loc" required>
                            <option value="" disabled selected>Select</option>
                            <option value="Alberton">Alberton</option>
                            <option value="Ballito">Ballito</option>
                            <option value="Bedfordview">Bedfordview</option>
                            <option value="Benoni">Benoni</option>
                            <option value="Bloemfontein">Bloemfontein</option>
                            <option value="Brakenfell">Brakenfell</option>
                            <option value="Bryanston">Bryanston</option>
                            <option value="Centurion">Centurion</option>
                            <option value="Constantia">Constantia</option>
                            <option value="Cresta">Cresta</option>
                            <option value="Durban North">Durban North</option>
                            <option value="East London">East London</option>
                            <option value="East Rand Mall">East Rand Mall</option>
                            <option value="Edenvale">Edenvale</option>
                            <option value="Fordsburg">Fordsburg</option>
                            <option value="Fourways">Fourways</option>
                            <option value="Gardens">Gardens</option>
                            <option value="Gateway">Gateway</option>
                            <option value="Gordons Bay">Gordons Bay</option>
                            <option value="Hatfield">Hatfield</option>
                            <option value="Kempton Park">Kempton Park</option>
                            <option value="Kenilworth">Kenilworth</option>
                            <option value="Kimberley">Kimberley</option>
                            <option value="Klerksdorp">Klerksdorp</option>
                            <option value="Melville">Melville</option>
                            <option value="Menlyn">Menlyn</option>
                            <option value="Midrand">Midrand</option>
                            <option value="Milnerton">Milnerton</option>
                            <option value="Morningside">Morningside</option>
                            <option value="Nelspruit">Nelspruit</option>
                            <option value="Northgate">Northgate</option>
                            <option value="Norwood">Norwood</option>
                            <option value="Parow">Parow</option>
                            <option value="Polokwane">Polokwane</option>
                            <option value="Port Elizabeth">Port Elizabeth</option>
                            <option value="Potchefstroom">Potchefstroom</option>
                            <option value="Randburg">Randburg</option>
                            <option value="Rivonia">Rivonia</option>
                            <option value="Rondebosch">Rondebosch</option>
                            <option value="Rosebank">Rosebank</option>
                            <option value="Sea Point">Sea Point</option>
                            <option value="Somerset West">Somerset West</option>
                            <option value="Southern Suburbs (JHB)">Southern Suburbs (JHB)</option>
                            <option value="Stellenbosch">Stellenbosch</option>
                            <option value="Sunninghill">Sunninghill</option>
                            <option value="Tableview">Tableview</option>
                            <option value="Tokai">Tokai</option>
                            <option value="Tygervalley">Tygervalley</option>
                            <option value="Weltevredepark">Weltevredepark</option>
                            <option value="Westrand">Westrand</option>
                            <option value="Westville">Westville</option>
                            <option value="White River">White River</option>

                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="resName">Restaurant Name</label>
                        <input type="text" placeholder="Eg. Nandos Seapoint " ng-model="restaurant.RName" class="form-control red-border " id="resName" required>
                    </div>
                    <div class="form-group">
                        <label for="addInfo">Additional Info</label>
                        <textarea type="text" ng-model="restaurant.Additional" rows="4" cols="20" class="form-control" id="addInfo" required></textarea>
                    </div>
                     {{restaurant.Status = 'pending'}}
                    <button type="submit" class="btn" style="border-radius:50px; width:200px;">Please complete form...</button>

                </div>


            </form>





        </div>


        {{isRegRestPage}}

</body>
</html>
